@import 'variables';
@import 'node_modules/bulma/bulma';
@import 'node_modules/font-awesome/scss/font-awesome';

#logo {
  max-height: 80px;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
